/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Style rules for body and images */
  body {
    background-color: #f6eee4;
  }
  
  img {
    max-width: 100%;
    display: block;
    height: 300px;
    width: 100%;
    
  }
  
  /* Style rules for navigation area */
  nav {
    background-color: #2a1f14;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
  }
  
  nav li {
    display: inline-block;
    font-size: 1.5em;
    font-family: Geneva, Arial, sans-serif;
    font-weight: bold;
  }
  
  nav li a {
    display: block;
    color: #f6eee4;
    padding: 0.5em 2em;
    text-decoration: none;
  }
  main {
    padding: 2%;
    font-family: Verdana, Arial, sans-serif;
  }
  
  main p {
    font-size: 1.25em;
  }
  
  main h3 {
    padding-top: 2%;
  }
  
  main ul {
    list-style-type: square;
  }
  
  .link {
    color: #4d3319;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
  }
  
  .action {
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
  }
  
  #contact {
    text-align: center;
  }
  
  /* Style rules for footer content */
  footer {
    text-align: center;
    font-size: 0.85em;
    background-color: #2a1f14;
    color: #f6eee4;
    padding: 1% 0%;
  }
  
  footer a {
    color: #f3e6d8;
    text-decoration: none;
  }  